.singleCategory {
    margin-right: 30px !important;
    margin-left: 30px !important;
    padding-top: 30px !important;
    text-decoration: none !important;
    color: #222 !important;
    font-weight: 600;
    cursor: pointer;
}

.checkoutBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.shop {
    margin-bottom: 20px;
}
