.banner {
    position: relative;
    text-align: center;
}

.banner:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: url('https://i.ibb.co/z4jbNN8/bannerbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.heading {
    font-family: 'Segoe UI';
    padding-top: 205px;
    padding-bottom: 30px;
}

.search-area {
    padding-bottom: 305px;
}

.search-area input {
    border: none;
    border-radius: 30px;
    width: 450px;
    height: 50px;
    background: white;
}

.search-area input::placeholder {
    padding-left: 20px;
    color: rgb(156, 156, 156);
    font-size: 15px;
}

.main-button {
    margin-left: 10px !important;
    border-radius: 30px !important;
    padding: 8px 23px !important;
}

.categoryHighlight {
    border-bottom: 2px solid tomato;
}